/* Oppskrift side */
/*Remy som "danser" på et bildet av ratatoui*/
.veggie{
    position: relative;
}
/* Midtstiller bildet */
.veggie img{
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
/*Bilde av Remy, regler for animasjons tiden, antall ganger, og type stil*/
#remyHello{
    position: absolute;
    width:20%;
    top: 0;
    left: 15%;
    animation-name: remyDance;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* Animasjon som endrer på plassering, blurer bildet, flipper bildet og vinkler bildet med trasform (skew og scalex) */
@keyframes remyDance{
    0%  {left: 15%; top: 0;}
    5%  {left: 15%; top: 0;}
    32% {left: 30%; top: 15%; transform: skewX(0); filter: blur(0);}
    40% {left: 22%; top: 50%; transform: skewX(-15deg); filter: blur(2px);}
    50% {left: 70%; top: 60%; transform: scaleX(-1); filter: blur(0);}
    60% {left: 70%; top: 60%; transform: scaleX(-1); filter: blur(0);}
    80% {left: 30%; top: 40%;transform: scaleX(1);}
    100%{left: 15%; top: 0;}
}
/* Oppskrift */
/*hvitboks, bakgrunn*/
#oppskrift{
    background-color: var(--white);
    height: 100vh;
    overflow-y: scroll;
    font-family: sans-serif;
    padding: 2%;
    margin: 2% 0 2% 0;

}
/*Youtube video*/
#oppskriftVideo{
    float: right;
    margin: 2%;
    width: 450px;
    height: 300px;
    max-width: 100%;
}